body{
    text-align: center;
    color: black;
    font-family: sans-serif;
    background-color: green;
}

.container{
    border: 1px solid #ffd;
    margin: 0 auto;
    box-shadow: 2px 2px 10px #888888;
    width: 70%;
}

.cabecera{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    background-color: paleturquoise;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
}

.cabecera:hover{
    transform: scale(1.1);
}

span{
    font-size: 25px;
}